<!DOCTYPE html>

<html ng-app="geektic">
    <head>
    	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

        <title>Geektic</title>
    </head>
    <h1>Choisis ton geek/ta geekette !</h1>

	<div ng-controller="InterestCtrller"> 
		<caption>Sélectionne un centre d'intérêt</caption>
		<select class="combobox">
			<option></option>
			<option ng-repeat="interest in display" value "{{interest.id}}">{{interest.type}}</option>
		</select>
	
	    <script src="/js/angular.js"></script>
	    <script src="/js/angular-route.js"></script>
	    <script src="/js/app.js"></script>  
	</div>

	<div ng-controller="ProfileCtrller">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<style type="text/css">
		    .bs-example{
		    	margin: 20px;
		    }
		</style>
	    
	    <table class="table table-hover">
	        <thead>
	            <tr>
	                <th>Prénom</th>
	                <th>Nom</th>
	                <th>Sexe</th>
	                <th>E-mail</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="geek in display" value "{{geek.id}}">
			        <td>{{geek.firstname}}</td>
			        <td>{{geek.lastname}}</td>
			        <td>{{geek.sex}}</td>
			        <td>{{geek.email}}</td>
	            </tr>
	        </tbody>
	    </table>
	</div>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-route.js"></script>
    <script src="/js/app.js"></script>  
</html>